---
import Layout from "@/layouts/Layout.astro";
import Strong from "@/components/Strong.astro";
import Link from "@/components/Link.astro";
import P from "@/components/P.astro";
---

<Layout title="404 | Page not found">
  <section class="h-full w-full py-32">
    <div class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
      <div class="mx-auto max-w-screen-sm text-center">
        <h1 class="mb-4 text-7xl font-extrabold tracking-tight">
          <Strong>404</Strong>
        </h1>
        <p
          class="mb-4 text-3xl font-bold tracking-tight text-gray-900 dark:text-white md:text-4xl"
        >
          Something's missing.
        </p>
        <P>
          Sorry, we can't find that page. You'll find lots to explore on the
          home page.
        </P>

        <div class="mt-12">
          <Link href="/">Back to Homepage</Link>
        </div>
      </div>
    </div>
  </section>
</Layout>
