---
import Layout from "@/layouts/Layout.astro";
import Strong from "@/components/Strong.astro";
import P from "@/components/P.astro";

import { dates } from "@/lib/beginning";
import Slider from "@/components/Slider.astro";
---

<Layout title="Beginning | Calandra Automobili">
  <section class="flex w-full flex-col items-center pt-24">
    <header class="flex flex-col gap-20 p-6 pt-20 lg:pt-28">
      <h1
        class="font-expansiva text-center text-2xl font-normal leading-tight text-gray-300 lg:text-5xl"
      >
        Taking <span class="italic text-italyred">dreams</span>
        <br />
         to <span class="italic text-italyred">reality...</span>
      </h1>

      <P>
        A chronological history of Gaspare Vittorio Calandra’s passion to
        achieve his childhood dream.
        <br /><br />
         His life always revolved around cars. With an incredible obsession for
        race cars, a dream he always cherished which finally has became reality.
        After many years of research, designing and sketching a full-scale
        functional prototype is built with 100% commitment from his son Piero,
        his dream finally becomes reality in 2022…
      </P>
    </header>
  </section>

  <section
    class="flex w-full flex-col items-center overflow-hidden py-10 md:py-24"
  >
    <Slider dates={dates} />
  </section>
</Layout>
