---
import Layout from "@/layouts/Layout.astro";
import P from "@/components/P.astro";
import Strong from "@/components/Strong.astro";
import Link from "@/components/Link.astro";
import Form from "@/components/Form.astro";
---

<Layout title="Contact | Calandra Automobili">
  <section class="flex w-full flex-col items-center py-24">
    <header class="flex flex-col items-center gap-4 p-6 pt-20 lg:pt-28">
      <h1
        class="text-center text-4xl font-normal leading-tight text-gray-300 lg:text-6xl"
      >
        Thank you for your <Strong>interest</Strong>
      </h1>

      <P>
        If you're interested or have any questions, please take a moment to fill
        out the form below or send us and email. We will promptly get in touch
        with you. Thank you for considering us.
      </P>
    </header>

    <main
      class="mt-6 flex flex-col items-center justify-center gap-4 md:flex-row lg:mt-12"
    >
      <Link href="#form">PROCEED TO FORM</Link>
      <Link href="mailto:info@calandraautomobili.com" secondary>EMAIL US</Link>
    </main>
  </section>

  <section
    id="form"
    class="-mt-32 flex w-full flex-col items-center py-32 md:-mt-24 md:py-48"
  >
    <Form />
  </section>
</Layout>
