---
import Layout from "@/layouts/Layout.astro";
import Strong from "@/components/Strong.astro";
import Link from "@/components/Link.astro";
import Pretitle from "@/components/Pretitle.astro";
import DateCard from "@/components/DateCard.astro";
import P from "@/components/P.astro";
import Divider from "@/components/Divider.astro";
import Reveal from "@/components/Reveal.astro";

import { dates } from "@/lib/family-passion";
import { Image } from "astro:assets";

import homeCar from "@/assets/home-car.jpg";
---

<Layout title="Calandra Automobili">
  <section class="flex w-full flex-col items-center py-24">
    <header class="flex flex-col items-center gap-4 p-6 pt-20 lg:pt-28">
      <h1
        class="font-expansiva text-center text-4xl font-normal leading-tight text-white lg:text-6xl"
      >
        Track <span class="text-italyred">focused</span>
        <br />
         sports car
      </h1>

      <P>
        40 years in Automotive Design.
        <br />
         Please welcome Calandra Automobili to a newly revived era of pure
        sportscars.
      </P>
    </header>

    <footer class="-z-10 -mt-2">
      <picture>
        <Image
          src={homeCar}
          alt="P001"
          width={1152}
          height={560}
          loading="eager"
          class="w-[130%] max-w-6xl"
        />
      </picture>
    </footer>
  </section>

  <section
    id="history"
    class="z-10 mt-[-450px] flex max-w-3xl flex-col items-center gap-8 p-8 pt-[450px]"
  >
    <Pretitle>A CHILD WITH A DREAM</Pretitle>

    <Reveal>
      <h2 class="text-center text-xl leading-tight text-white lg:text-2xl">
        Gaspare Vittorio Calandra, has been working in the automotive industry
        as a design engineer for over 40 years. From childhood, he had a dream,
        build a street legal race car, so he decided to realize his dream almost
        22 years ago.
        <br /><br />
         Calandra Automobili, has revived an era of pure sports cars and has
        become a new automotive brand, ready to challenge some of the best in
        the world .
      </h2>
    </Reveal>
  </section>

  <section class="z-10 flex max-w-3xl flex-col items-center gap-6 py-28">
    <header class="pt-0 md:pt-20">
      <h2
        class="text-center text-4xl font-normal leading-tight text-gray-300 lg:text-6xl"
      >
        Family <Strong>passion</Strong>
      </h2>
    </header>

    <main class="p-8">
      <ul class="flex flex-col items-center gap-2">
        {
          dates.map(({ year, desc }) => (
            <>
              <li>
                <DateCard year={year}>
                  <Fragment set:html={desc} />
                </DateCard>
              </li>

              <li>
                <Divider />
              </li>
            </>
          ))
        }
      </ul>
    </main>

    <Link href="/beginning">TAKING DREAMS TO REALITY</Link>
  </section>
</Layout>
