---
import P from "@components/P.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Legal | Calandra Automobili">
  <section
    id="#privacy-policy"
    class="max-w-3xl flex flex-col items-center gap-8 pt-48 p-8 z-10"
  >
    <h1 class="text-white text-4xl">Provacy policy</h1>
    <P>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat sed
      assumenda harum perspiciatis ex voluptates dicta perferendis sit rerum
      necessitatibus ipsam facere, repudiandae cumque odit esse atque eveniet a
      labore.
    </P>
  </section>

  <section
    id="#terms-conditions"
    class="max-w-3xl flex flex-col items-center gap-8 p-8 z-10"
  >
    <h1>Terms and condictions</h1>
    <P>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat sed
      assumenda harum perspiciatis ex voluptates dicta perferendis sit rerum
      necessitatibus ipsam facere, repudiandae cumque odit esse atque eveniet a
      labore.
    </P>
  </section>
</Layout>
