---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Legal | Calandra Automobili">
  <section
    id="privacy-policy"
    class="z-10 mx-3 mt-32 flex max-w-4xl flex-col gap-4 px-8 py-20 text-gray-400"
  >
    <h1 class="px-4 text-3xl font-bold text-white">Privacy Policy</h1>

    <p class="rounded-lg bg-zinc-900 p-4">
      Calandra Automobili will explain how our organization uses the personal
      data we collect from you when you use our website or app.
    </p>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">Topics:</h2>
    <ul class="list-disc p-4 pl-8">
      <li>What data do we collect?</li>
      <li>How do we collect your data?</li>
      <li>How will we use your data?</li>
      <li>How do we store your data?</li>
      <li>Marketing?</li>
      <li>What are your data protection rights?</li>
      <li>What are cookies?</li>
      <li>How do we use cookies?</li>
      <li>What types of cookies do we use?</li>
      <li>How to manage your cookies?</li>
      <li>Private policies of other websites or apps?</li>
      <li>Changes to our private policy</li>
      <li>How to contact us?</li>
      <li>How to contact the appropriate authorities?</li>
    </ul>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">
      What data do we collect
    </h2>
    <p class="rounded-lg bg-zinc-900 p-4">
      Our company collects the following data:
    </p>
    <ul class="list-disc p-4 pl-8">
      <li>
        Personal identification information such as: Name, email address, phone
        number etc…
      </li>
    </ul>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">
      How do we collect your data
    </h2>
    <p class="rounded-lg bg-zinc-900 p-4">
      You directly provide Calandra Automobili S.L. with most of the data you
      collect. We collect data and process data when you:
    </p>
    <ul class="list-disc p-4 pl-8">
      <li>Collecting your personal data via a form on our website or app.</li>
      <li>
        Voluntarily complete a customer survey or provide feedback on any of our
        message boards, via email or social media.
      </li>
      <li>Use or view our website via browsers cookies.</li>
    </ul>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">
      How will we use your data
    </h2>
    <p class="rounded-lg bg-zinc-900 p-4">
      Our company collects your data so that we can:
    </p>
    <ul class="list-disc pl-8">
      <li>Email you newsletters.</li>
      <li>To process product orders by email.</li>
      <li>
        Send to third parties such as courier companies for the delivery of your
        product.
      </li>
    </ul>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">
      How do we store your data
    </h2>
    <p class="rounded-lg bg-zinc-900 p-4">
      Our company stores your data in our PC only for business purpose.
    </p>
    <p class="rounded-lg bg-zinc-900 p-4">
      Our company will keep all your data stored and not be deleted unless you
      desire.
    </p>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">Marketing</h2>
    <p class="rounded-lg bg-zinc-900 p-4">
      Our company would like to send you information on all our new products and
      services we think you might like.
    </p>
    <p class="rounded-lg bg-zinc-900 p-4">
      If you have agreed to receive marketing you may always opt out at a later
      date once informed the company via email.
    </p>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">
      What is your data protection rights
    </h2>
    <p class="rounded-lg bg-zinc-900 p-4">
      Our company would like to make sure you are fully aware of all your data
      protection rights. Every user is entitled to the following:
    </p>
    <ul class="list-disc pl-8">
      <li>
        You have the right to request that our company corrects any information
        you believe is inaccurate. You also have the right to request our
        company to complete information you believe is incomplete.
      </li>
      <li>
        You have the right our company erases your personal data under certain
        conditions.
      </li>
      <li>
        You have the right to request that our company restricts the processing
        of your personal data, under certain conditions.
      </li>
      <li>
        You have the right to object processing of your person data under
        certain conditions.
      </li>
    </ul>
    <p class="rounded-lg bg-zinc-900 p-4">
      If you have a request, we have one month to respond to you, if you would
      like to cease any of these rights, please contacts us by email at <a
        href="mailto:info@calandraautomobili.com"
        class="text-blue-500">info@calandraautomobili.com</a
      >.
    </p>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">
      How do we use cookies
    </h2>
    <p class="rounded-lg bg-zinc-900 p-4">
      We use cookies on our website for identification, analysis, and
      advertising purposes. By using our website and app, you consent to the
      storage and opening of cookies on your device.
    </p>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">
      Types of cookies we use
    </h2>
    <ul class="list-disc pl-8">
      <li>
        Essential cookies: Necessary for the proper functioning of the website.
      </li>
      <li>
        Performance cookies: Track your online movements and that data is used
        to improve the website. They measure analytics like how many times you
        visited a page, how much time you spent on a page, or when you left the
        website.
      </li>
      <li>
        First-party cookies: Are used to improve your online user experience.
      </li>
      <li>
        Functional cookies: Used to enhance the performance of a website as
        without them certain functions may not be available.
      </li>
      <li>
        Targeting cookies: Attract customers with targeted ads and can be shared
        with other advertisers so that the performance of such ads can be
        monitored and measured. Targeting cookies also help build user profiles.
      </li>
      <li>
        Third-Party cookies: Used to track users between websites and display
        more relevant ads between websites.
      </li>
      <li>
        Performance cookies: To monitor site performance and follow user actions
        but they do not collect identifiable information, they collect data
        anonymously and use it to improve the website. Performance cookies can
        count page visits, examine how much time a user has spent on a website,
        as well as analyze loading speeds to improve performance.
      </li>
      <li>
        Analytics and customization cookies: Track user activity in their
        browser, allowing website owners to better grasp how their site is being
        used.
      </li>
      <li>
        Advertising cookies: Are used to customize a user’s ad experience on
        websites based on their browsing history.
      </li>
      <li>
        Social networking tracking cookies: To allow all users to share content
        on social media and help link the activity between a website and a third
        part-party sharing platform.
      </li>
    </ul>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">
      How to manage cookies
    </h2>
    <p class="rounded-lg bg-zinc-900 p-4">
      You can set your browser to not accept cookies. However, in some cases,
      some of our website features may not function correctly.
    </p>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">Privacy policy</h2>
    <p class="rounded-lg bg-zinc-900 p-4">
      Calandra Automobili S.L. website may contain links to other websites. Our
      private policy applies only to our website, so if you click on a link to
      another website, you should read their privacy policy.
    </p>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">
      Changes to our privacy policy
    </h2>
    <p class="rounded-lg bg-zinc-900 p-4">
      Calandra Automobili S.L. keeps its privacy policy regularly updated and
      places this on the web page.
    </p>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">Contact us</h2>
    <p class="rounded-lg bg-zinc-900 p-4">
      You can email us for any question you have on <a
        href="mailto:info@calandraautomobili.com"
        class="text-blue-500">info@calandraautomobili.com</a
      >
    </p>
  </section>

  <section
    id="terms-conditions"
    class="z-10 mx-3 mb-20 flex max-w-4xl flex-col gap-4 px-8 py-20 text-gray-400"
  >
    <h1 class="px-4 text-3xl font-bold text-white">Terms and Conditions</h1>

    <p class="rounded-lg bg-zinc-900 p-4">
      Please read these terms and conditions ("terms and conditions", "terms")
      carefully before using www.calandraautomobili.com website (“website”,
      "service") operated by Calandra Automobili S.L. ("us", 'we", "our").
    </p>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">Conditions of use</h2>
    <p class="rounded-lg bg-zinc-900 p-4">
      By using this website, you certify that you have read and reviewed this
      Agreement and that you agree to comply with its terms. If you do not want
      to be bound by the terms of this Agreement, you are advised to stop using
      the website accordingly. Calandra Automobili S.L. only grants use and
      access of this website, its products, and its services to those who have
      accepted its terms.
    </p>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">Privacy policy</h2>
    <p class="rounded-lg bg-zinc-900 p-4">
      Before you continue using our website, we advise you to read our privacy
      policy regarding our user data collection. It will help you better
      understand our practices.
    </p>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">Age restriction</h2>
    <p class="rounded-lg bg-zinc-900 p-4">
      You must be at least 18 (eighteen) years of age before you can use this
      website. By using this website, you warrant that you are at least 18 years
      of age and you may legally adhere to this Agreement. Calandra Automobili
      S.L. assumes no responsibility for liabilities related to age
      misrepresentation.
    </p>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">
      Intellectual property
    </h2>
    <p class="rounded-lg bg-zinc-900 p-4">
      You agree that all materials including images, information, products, and
      services provided on this website are the property of Calandra Automobili
      S.L., its affiliates, directors, officers, employees, agents, suppliers,
      or licensors including all copyrights, trade secrets, trademarks, patents,
      and other intellectual property. You also agree that you will not
      reproduce or redistribute the Calandra Automobili’s intellectual property
      in any way, including electronic, digital, or new trademark registrations.
    </p>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">User accounts</h2>
    <p class="rounded-lg bg-zinc-900 p-4">
      As a user of this website, you may be asked to register with us and
      provide private information. This information will remain confidential and
      will be stored only by Calandra Automobili S.L..
    </p>

    <p class="rounded-lg bg-zinc-900 p-4">
      You also agree that Calandra Automobili S.L. can share your address and
      contact to third parties, only if you purchase one of our products. This
      will only be sent to courier companies. You are responsible for ensuring
      the accuracy of this information, and you are responsible for maintaining
      the safety and security of your identifying information. You are also
      responsible for all activities that occur under your account or password.
      If you think there are any possible issues regarding the security of your
      account on the website, inform us immediately so we may address them
      accordingly.
    </p>

    <p class="rounded-lg bg-zinc-900 p-4">
      We reserve all rights to terminate accounts, edit or remove content and
      cancel orders at our sole discretion.
    </p>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">Applicable law</h2>
    <p class="rounded-lg bg-zinc-900 p-4">
      By using this website, you agree on the laws of Spain, without regard to
      principles of conflict laws, will govern these terms and conditions, or
      any dispute of any sort that might come between Calandra Automobili S.L.
      and you, or its business partners and associates.
    </p>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">Disputes</h2>
    <p class="rounded-lg bg-zinc-900 p-4">
      Any dispute related in any way to your use of this website or to products
      you purchase from us shall be arbitrated by state or federal court of
      Spain and you consent to exclusive jurisdiction and venue of such courts.
    </p>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">Indemnification</h2>
    <p class="rounded-lg bg-zinc-900 p-4">
      You agree to indemnify Calandra Automobili S.L. and its affiliates
      harmless against legal claims and demands that may arise from your use or
      misuse of our services. We reserve the right to select our own legal
      counsel.
    </p>

    <h2 class="mt-4 px-4 text-2xl font-bold text-white">
      Limitation on liability
    </h2>
    <p class="rounded-lg bg-zinc-900 p-4">
      Calandra Automobili S.L. is not liable for any damages that may occur to
      you as a result of your misuse of our website.
    </p>

    <p class="rounded-lg bg-zinc-900 p-4">
      Calandra Automobili S.L. reserves the right to edit, modify, and change
      this Agreement at any time. We shall let our users know of these changes
      through electronic mail. This Agreement is an understanding between
      Calandra Automobili S.L. and the user, and this supersedes and replaces
      all prior agreements regarding the use of this website.
    </p>
  </section>
</Layout>
