---
import Layout from "@layouts/Layout.astro";
import P from "@components/P.astro";
import Strong from "@components/Strong.astro";
import ProtoypeCard from "@components/CarCard.astro";

import { cards } from "lib/prototype";
import { images } from "lib/prototype-images";
import Gallery from "@components/Gallery.astro";
import Brand from "@icons/Brand.astro";
---

<Layout title="Prototype P001 | Calandra Automobili">
  <section
    class="relative flex h-[60dvh] lg:h-[85dvh] w-full flex-col items-center justify-center"
  >
    <figure class="absolute inset-0 flex bg-black">
      <video
        class="h-full w-full object-cover"
        src="/prototype.mp4"
        playsinline
        muted
        autoplay
        loop></video>
      <span class="absolute inset-0 bg-black/60"></span>
    </figure>

    <header class="z-10 flex flex-col items-center gap-8 p-6">
      <h1
        class="flex items-center gap-2 text-center text-4xl font-normal leading-tight text-gray-300 lg:text-6xl"
      >
        <Brand class="w-[150px] lg:w-[250px]" />
        <Strong green>P001</Strong>
      </h1>

      <P>
        After more than 14 year of design, development and engineering work, we
        can finally say that the Calandra P001 is ready.
      </P>
    </header>
  </section>

  <section
    class="flex w-full max-w-5xl flex-col items-center px-8 pt-10 lg:pt-20"
  >
    <ul class="flex w-full flex-wrap justify-center">
      {
        cards.map((card) => (
          <li class="w-full self-stretch p-2 md:w-1/3">
            <ProtoypeCard {...card} />
          </li>
        ))
      }
    </ul>
  </section>

  <section
    class="mb-10 mt-32 flex h-[40dvh] w-full flex-col items-center justify-center lg:h-[80dvh]"
  >
    <Gallery images={images} />
  </section>
</Layout>
