---
interface Props {
  title: string;
  desc: string;
  icon: string;
}

const { title, desc, icon } = Astro.props;
---

<article
  class="flex flex-col items-center w-full h-full gap-4 px-6 text-white border bg-zinc-900 rounded-xl border-zinc-800 break-inside-avoid-column"
>
  <h2 class="w-full mt-6 text-xl font-bold">{title}</h2>
  <p class="text-lg font-light">{desc}</p>
  <picture class="mt-auto">
    <img src={icon} alt={title} />
  </picture>
</article>
