---
interface Props {
  title: string;
  desc: string;
  icon: string;
}

const { title, desc, icon } = Astro.props;
---

<article
  class="max-w-xs flex flex-col items-center gap-4 px-6 border text-white bg-zinc-900 rounded-xl border-zinc-800 break-inside-avoid-column"
>
  <h2 class="w-full mt-6 text-xl font-bold">{title}</h2>
  <p class="text-lg font-light">{desc}</p>
  <picture class="mt-6">
    <img src={icon} alt={title} />
  </picture>
</article>
