---
import { Image } from "astro:assets";

import Direction from "@icons/Direction.astro";
import Paint from "@icons/Paint.astro";
import Wheel from "@icons/Wheel.astro";

import baseImage from "@assets/anthracite.jpg";
---

<article id="colors" class="relative flex h-full w-full">
  <picture class="relative h-full w-full">
    <Image
      src={baseImage}
      alt="Calandra Production GP"
      width={1903}
      height={785}
      class="absolute h-full w-full object-cover"
    />
  </picture>
</article>

<nav
  class="absolute bottom-4 left-1/2 z-10 flex -translate-x-1/2 gap-2 text-xs lg:bottom-10 lg:text-base"
>
  <label
    class="flex items-center gap-1 rounded-full border-2 border-zinc-800 bg-gradient-to-t from-zinc-950 to-black px-4 py-3 text-white"
  >
    <Direction />
    <select
      id="viewSelector"
      class="w-28 bg-transparent focus:outline-none lg:w-32 [&>option]:bg-black"
    >
      <option value="front">Front view</option>
      <option value="rear">Rear view</option>
    </select>
  </label>

  <label
    class="flex items-center rounded-full border-2 border-zinc-800 bg-gradient-to-t from-zinc-950 to-black px-4 py-3 text-white lg:gap-1"
  >
    <Paint />
    <select
      id="colorSelector"
      class="w-px bg-transparent focus:outline-none lg:w-32 [&>option]:bg-black"
    >
      <option value="yellow">Yellow</option>
      <option value="orange">Orange</option>
      <option value="red">Red</option>
      <option value="blue">Blue</option>
      <option value="green">Green</option>
      <option value="grey">Grey</option>
      <option value="white">White</option>
      <option value="black">Black</option>
    </select>
  </label>

  <label
    class="flex items-center rounded-full border-2 border-zinc-800 bg-gradient-to-t from-zinc-950 to-black px-4 py-3 text-white lg:gap-1"
  >
    <Wheel />
    <select
      id="rimsSelector"
      class="w-px bg-transparent focus:outline-none lg:w-32 [&>option]:bg-black"
    >
      <option value="anthracite">Anthracite</option>
      <option value="black">Black</option>
      <option value="gold">Gold</option>
      <option value="silver">Silver</option>
    </select>
  </label>
</nav>

<script is:inline>
  function init_colors() {
    const picture = document.querySelector("article#colors > picture");
    const viewSelector = document.querySelector("select#viewSelector");
    const colorSelector = document.querySelector("select#colorSelector");
    const rimsSelector = document.querySelector("select#rimsSelector");

    const selection = {
      view: "front",
      color: "yellow",
      rims: "anthracite",
    };

    const src = (selection) =>
      `/images/production/${selection.view}/${selection.color}/${selection.rims}.jpg`;

    function setSelection() {
      const overlay = document.createElement("img");

      overlay.classList.add(
        "absolute",
        "h-full",
        "w-full",
        "object-cover",
        "animate-fadein"
      );
      overlay.src = src(selection);
      picture.appendChild(overlay);
    }

    viewSelector.addEventListener("change", () => {
      selection.view = viewSelector.value;
      setSelection();
    });

    colorSelector.addEventListener("change", () => {
      selection.color = colorSelector.value;
      setSelection();
    });

    rimsSelector.addEventListener("change", () => {
      selection.rims = rimsSelector.value;
      setSelection();
    });
  }

  init_colors();
  document.addEventListener("astro:after-swap", init_colors);
</script>
