---
import { Image } from 'astro:assets';

interface Props {
  year: string;
  image: string;
}

const { year, image } = Astro.props;
---

<article class="flex flex-col items-center gap-2">
  <picture class="p-1 rounded-xl bg-zinc-700">
    <Image
      src={image}
      alt={year}
      width={426}
      height={240}
      class="max-w-xs md:max-w-none bg-white rounded-lg shadow-xl shrink-0"
    />
  </picture>

  <h2 class="text-xl text-gray-300">
    {year}
  </h2>
</article>
