<div class="flex w-full">
  <span class="flex flex-grow bg-italygreen h-[2px]"></span>
  <span class="flex flex-grow bg-white h-[2px]"></span>
  <span class="flex flex-grow bg-italyred h-[2px]"></span>
</div>
