---
import Logo from "@/icons/Logo.astro";
import Divider from "@/components/Divider.astro";
import Instagram from "@/icons/Instagram.astro";
import Facebook from "@/icons/Facebook.astro";
import Youtube from "@/icons/Youtube.astro";
import Linkedin from "@/icons/Linkedin.astro";
---

<footer
  class="mt-auto flex w-full justify-center bg-gradient-to-r from-transparent from-10% via-zinc-700 to-transparent to-90% pt-[1px]"
>
  <div class="flex w-full justify-center bg-black px-6 py-12 md:px-2 md:py-2">
    <div
      class="flex w-full max-w-6xl flex-wrap items-center justify-center gap-6 md:gap-12"
    >
      <Logo />

      <span class="hidden md:flex">
        <Divider />
      </span>

      <aside class="flex grow flex-wrap items-center gap-4">
        <p class="text-center text-sm text-gray-300 md:text-left">
          Copyright © 2023 Calandra Automobili S.L. 2023 All rights reserved.
          <br />

          <a class="transition hover:underline" href="/legal#privacy-policy">
            Privacy Policy</a
          > | <a
            class="transition hover:underline"
            href="/legal#terms-conditions"
            >Terms & Conditions
          </a>
        </p>

        <div class="ml-auto mr-auto flex gap-4 md:mr-0">
          <a
            class="text-gray-300 transition hover:text-white"
            href="https://www.instagram.com/calandraautomobili/"
            target="_blank"
          >
            <Instagram />
          </a>
          <a
            class="text-gray-300 transition hover:text-white"
            href="https://www.facebook.com/calandraautomobili"
            target="_blank"
          >
            <Facebook />
          </a>
          <a
            class="text-gray-300 transition hover:text-white"
            href="https://www.youtube.com/@CalandraAutomobili"
            target="_blank"
          >
            <Youtube />
          </a>
          <a
            class="text-gray-300 transition hover:text-white"
            href="https://www.linkedin.com/company/calandra-motorsport/"
            target="_blank"
          >
            <Linkedin />
          </a>
        </div>
      </aside>
    </div>
  </div>
</footer>
