<form class="flex flex-col w-full max-w-4xl gap-8">
  <fieldset class="flex flex-col w-full">
    <label class="px-4 font-semibold text-gray-400" for="fullname">
      Fullname
    </label>
    <input
      class="w-full py-4 text-xl text-white placeholder-gray-600 bg-transparent border-b border-gray-800 outline-none focus:border-gray-300"
      id="fullname"
      name="fullname"
      type="text"
      placeholder="Ex. Juan Garcia"
      required
    />
  </fieldset>

  <fieldset class="flex gap-4 wfull">
    <div class="grow">
      <fieldset class="flex flex-col w-full">
        <label class="px-4 font-semibold text-gray-400" for="phone">
          Phone number
        </label>
        <input
          class="w-full py-4 text-xl text-white placeholder-gray-600 bg-transparent border-b border-gray-800 outline-none focus:border-gray-300"
          id="phone"
          name="phone"
          type="tel"
          placeholder="Ex. 600 600 600"
          required
        />
      </fieldset>
    </div>

    <div class="grow">
      <label class="px-4 font-semibold text-gray-400" for="email">
        Email address
      </label>
      <input
        class="w-full py-4 text-xl text-white placeholder-gray-600 bg-transparent border-b border-gray-800 outline-none focus:border-gray-300"
        id="email"
        name="email"
        type="email"
        placeholder="Ex. info@calandraautomobili.com"
        required
      />
    </div>
  </fieldset>

  <fieldset class="flex flex-col w-full">
    <label class="px-4 font-semibold text-gray-400" for="referal">
      How have you heard about us?
    </label>
    <select
      class="w-full py-4 text-xl text-white bg-transparent border-b border-gray-800 outline-none focus:border-gray-300"
      id="referal"
      name="referal"
      required
    >
      <option class="bg-black" value="founders">I met the founders</option>
      <option class="bg-black" value="social">Through social media</option>
      <option class="bg-black" value="magazine">Car magazine</option>
      <option class="bg-black" value="event">Event</option>
      <option class="bg-black" value="other">Others</option>
    </select>
  </fieldset>

  <fieldset class="flex flex-col w-full">
    <label class="px-4 font-semibold text-gray-400" for="message">
      Message
    </label>
    <textarea
      class="w-full h-32 py-4 text-xl text-white placeholder-gray-600 bg-transparent border-b border-gray-800 outline-none resize-none focus:border-gray-300"
      id="message"
      name="message"
      placeholder="Your message..."
      required></textarea>
  </fieldset>

  <fieldset class="flex gap-4 wfull">
    <button
      class="px-20 py-4 text-sm text-gray-300 transition-colors border-2 whitespace-nowrap border-zinc-800 bg-gradient-to-t from-zinc-800 to-zinc-900 rounded-2xl hover:border-zinc-700 hover:text-gray-200"
      type="submit"
    >
      SEND
    </button>
    <button
      class="px-8 py-4 text-sm text-gray-300 transition-colors whitespace-nowrap"
      type="reset"
    >
      RESET
    </button>
  </fieldset>
</form>

<script>
  const formEl = document.querySelector("form");

  formEl.addEventListener("submit", (ev) => {
    ev.preventDefault();

    const formData = new FormData(formEl);

    console.log(formData);
  });
</script>
