<form class="fle flex-col w-full max-w-4xl">
  <fieldset class="fle flex-col w-full">
    <label for="name">Name</label>
    <input class="w-full" type="text" placeholder="Ex. Juan Garcia" />
  </fieldset>

  <fieldset class="flex wfull">
    <div class="w-1/2">
      <label for="name">Name</label>
      <input class="w-full" type="text" placeholder="Ex. Juan Garcia" />
    </div>
    <div class="w-1/2">
      <label for="name">Name</label>
      <input class="w-full" type="text" placeholder="Ex. Juan Garcia" />
    </div>
  </fieldset>

  <fieldset class="fle flex-col w-full">
    <label for="name">Name</label>
    <select class="w-full">
      <option value="n">Test</option>
    </select>
  </fieldset>

  <fieldset class="fle flex-col w-full">
    <textarea class="w-full" placeholder="Message"></textarea>
  </fieldset>

  <hr />

  <fieldset class="flex wfull">
    <button type="submit">SEND</button>
    <button type="reset">RESET</button>
  </fieldset>
</form>
