---
import { Image } from "astro:assets";

interface Props {
  images: Array<string>;
}

const { images } = Astro.props;
---

<ul
  id="slider"
  class="scrollbar-hide flex h-full w-full snap-x snap-mandatory overflow-x-auto"
>
  {
    images.map((image) => (
      <li class="h-full w-full shrink-0 snap-center">
        <Image
          src={image}
          alt="Inside"
          width={1903}
          height={785}
          class="h-full w-full object-cover"
        />
      </li>
    ))
  }
</ul>

<div
  class="flex rounded-full border-2 border-zinc-800 bg-gradient-to-t from-zinc-950 to-black p-1 mt-4"
>
  <button
    id="prev"
    class="w-40 whitespace-nowrap rounded-full px-7 py-3 text-sm text-gray-300 transition-colors hover:bg-zinc-700"
    >PREV</button
  >
  <button
    id="next"
    class="w-40 whitespace-nowrap rounded-full px-7 py-3 text-sm text-gray-300 transition-colors hover:bg-zinc-700"
    >NEXT</button
  >
</div>

<script is:inline>
  (function () {
    const slider = document.querySelector("#slider");
    const prev = document.querySelector("#prev");
    const next = document.querySelector("#next");

    prev.addEventListener("click", () => {
      slider.scrollBy({
        left: -slider.firstElementChild.clientWidth,
        behavior: "smooth",
      });
    });

    next.addEventListener("click", () => {
      slider.scrollBy({
        left: slider.firstElementChild.clientWidth,
        behavior: "smooth",
      });
    });
  })();
</script>
