---
import DateSlide from "./DateSlide.astro";

interface Props {
  dates: Array<{ year: string; image: string }>;
}

const { dates } = Astro.props;
---

<ul
  id="slider"
  class="flex w-full gap-4 px-48 overflow-x-auto snap-mandatory snap-x pb-14 scrollbar-hide"
>
  <li class="flex w-1/2 shrink-0"></li>
  {
    dates.map(({ year, image }) => (
      <li class="snap-center shrink-0">
        <DateSlide year={year} image={image} />
      </li>
    ))
  }
  <li class="flex w-1/2 shrink-0"></li>
</ul>

<div
  class="hidden p-1 border-2 rounded-full md:flex border-zinc-800 bg-gradient-to-t from-zinc-950 to-black"
>
  <button
    id="prev"
    class="w-40 py-3 text-sm transition-colors rounded-full px-7 text-zinc-400 whitespace-nowrap hover:bg-zinc-800"
    >PREV</button
  >
  <button
    id="next"
    class="w-40 py-3 text-sm transition-colors rounded-full px-7 text-zinc-400 whitespace-nowrap hover:bg-zinc-800"
    >NEXT</button
  >
</div>

<script is:inline>
  (function () {
    const slider = document.querySelector("#slider");
    const prev = document.querySelector("#prev");
    const next = document.querySelector("#next");

    prev.addEventListener("click", () => {
      slider.scrollBy({
        left: -slider.firstElementChild.clientWidth,
        behavior: "smooth",
      });
    });

    next.addEventListener("click", () => {
      slider.scrollBy({
        left: slider.firstElementChild.clientWidth,
        behavior: "smooth",
      });
    });
  })();
</script>
