---
import DateSlide from "@/components/DateSlide.astro";

interface Props {
  dates: Array<{ year: string; image: string; text: string }>;
}

const { dates } = Astro.props;
---

<ul
  id="slider"
  class="scrollbar-hide flex w-full snap-x snap-mandatory gap-4 overflow-x-auto px-48 pb-14"
>
  <li class="flex w-1/2 shrink-0"></li>
  {
    dates.map((date) => (
      <li class="shrink-0 snap-center">
        <DateSlide {...date} />
      </li>
    ))
  }
  <li class="flex w-1/2 shrink-0"></li>
</ul>

<div
  class="hidden rounded-full border-2 border-zinc-800 bg-gradient-to-t from-zinc-950 to-black p-1 md:flex"
>
  <button
    id="prev"
    class="w-40 whitespace-nowrap rounded-full px-7 py-3 text-sm text-gray-300 transition-colors hover:bg-zinc-700"
    >PREV</button
  >
  <button
    id="next"
    class="w-40 whitespace-nowrap rounded-full px-7 py-3 text-sm text-gray-300 transition-colors hover:bg-zinc-700"
    >NEXT</button
  >
</div>

<script>
  function init_slider() {
    const slider = document.querySelector("#slider");
    const prev = document.querySelector("#prev");
    const next = document.querySelector("#next");

    prev.addEventListener("click", () => {
      slider.scrollBy({
        left: -100,
        behavior: "smooth",
      });
    });

    next.addEventListener("click", () => {
      slider.scrollBy({
        left: 100,
        behavior: "smooth",
      });
    });
  }

  init_slider();
  document.addEventListener("astro:after-swap", init_slider);
</script>
